<%- include ../partials/header %>

    <!-- Character Selection Is Found in Header File-->

    <!-- The Entire Input Form -->
    <form class="mt-5" action="/fics/<%=fic_id%>/eps/<%= ep_num %>?_method=PUT" method="post">

      <!-- Title & BG Color Inputs -->
      <div class="text-center pb-1 bg-white border-bottom mb-4 shadow-lg">
        <input class="border-top border-bottom w-100" type="text" name="title" placeholder="Title" value="<%=ep.title%>">
        <label for="bg-color">Background Color</label>
        <input id="bg-color" type="color" name="bgColor" value="<%=ep.bgColor%>">
      </div>

      <!-- Container for all Dialogue Inputs -->
      <div id="dialogue-container" class="shadow-lg">

        <!-- Render dialogue already created -->
        <% ep.char.forEach(function(char, i){ %>

          <div class="border bg-light text-center">
            <!-- Move-Text-Marker-to-Here Button -->
            <div class="marker-btn-container">
              <i id="premade-btn<%=i%>" class="fas fa-plus-circle text-secondary move-text-marker-btn"></i>
            </div>
            <!-- Invisible Char Name -->
            <input class="dialogue-name-input d-none" type="text"
              name="char" value="<%= char %>">
            <!-- Row for Name, Colors, and Text -->
            <div class="dialogue-form-row row bg-white">
              <!-- Column for Name and Colors -->
              <div class="col-3 text-center pt-3">
                <p class="dialogue-name char-name"
                  style="color:<%=ep.fontColor[i]%>;
                  background-color:<%=ep.highlight[i]%>;">
                  <%= char %></p>
                <input class="font-color-input" type="color"
                  value="<%=ep.fontColor[i]%>" name="fontColor">
                <input class="highlight-input" type="color"
                  value="<%=ep.highlight[i]%>" name="highlight">
              </div>
              <!-- Column for Dialogue Text -->
              <div class="dialogue-textarea col-9">
                <!-- Cancel Button -->
                <i id="premade-dialogue<%=i%>"
                 class="premade-dialogue cancel-btn far fa-window-close fa-2x text-secondary float-right mr-2 mt-1"
                 SameSite=None></i>
                <textarea
                  class="m-0 border-0 dialogue-text"
                  name="text"
                  placeholder="Enter Text Here"
                  maxlength="140"><%= ep.text[i] %></textarea>
              </div>
            </div>
          </div>
        <% }) %>

        <div id="create-text-marker" class="text-center text-secondary bg-secondary text-light">
          <p class="m-0">^ Click on a character from the selector at the top to create dialogue here. ^</p>
          <p class="m-0">Or click on a "+" button to move this marker.</p>
        </div>
        <!-- Bottom Button -->
        <div class="marker-btn-container">
          <i id="bottom-marker-btn" class="fas fa-plus-circle text-secondary"></i>
        </div>
      </div>

      <!-- Submit Button -->
      <button id="submit-btn" class="btn btn-xl btn-primary py-3 w-100 rounded-0 mt-4" type="submit" name="button">Submit</button>
    </form>

    <!-- Invisble Dialogue Template form to be cloned by the DOM -->
    <%- include ../partials/dialogueFormTemplate %>





<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- New Episode JavaScripts -->
<script src="/scripts/ep-form.js" charset="utf-8"></script>

<%- include ../partials/footer %>
