<%- include ../partials/header %>
    <h1>Ep Show Page</h1>

    <h2><%= ep.title %></h2>

    <!-- Delete Button trigger modal -->
    <% include ../partials/deleteModalTop %>
      <form class="" action="/fics/<%=fic_id%>/eps/<%=ep_num%>?_method=DELETE" method="post">
    <% include ../partials/deleteModalBottom %>

    <a class="btn btn-sm btn-warning" href="/fics/<%= fic_id %>/eps/<%= ep_num %>/edit">Edit</a>

    <% ep.char.forEach(function(char, i){ %>
      <p>
        <span style="color:<%=ep.fontColor[i]%>;
        background-color:<%=ep.highlight[i]%>;"">
          <%=char%>:
        </span>
        <span><%=ep.text[i]%></span>
      </p>
    <% }) %>


    <!-- Navigation buttons -->
    <% if (ep_num > 1) { %>
      <% let prevEp = ep_num - 1; %>
      <a class="btn btn-dark" href="/fics/<%= fic_id %>/eps/<%= prevEp %>">Previous Chapter</a>
    <% } %>

    <a class="btn btn-secondary" href="/fics/<%= fic_id %>/">Back to Fic Page</a>

    <% if (ep_num < last_ep_num) { %>
      <% let nextEp = ep_num + 1; %>
      <a class="btn btn-dark" href="/fics/<%= fic_id %>/eps/<%= nextEp %>">Next Chapter</a>
    <% } %>

    <!-- invisible bgColor div to pass data form back to front -->
    <div class="d-none">
      <input id="ep-bg-color" type="text" name="" value="<%= ep.bgColor %>">
    </div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Script for dynamic bg color -->
<script type="text/javascript">
  const bgColor = $("#ep-bg-color").val();
  $("body").css("background-color", bgColor);
</script>

<%- include ../partials/footer %>
