<%- include ../partials/header %>

  <!-- EPISODE TITLE -->
  <div class="text-center bg-white shadow my-4 mx-4 py-3 rounded ep-show-header">
    <h2 class="display-4"><%= ep.title %></h2>
  </div>

<!-- EPISODE DIALOGUE -->
  <div id="dialogue-container" class="shadow mx-0 rounded-0">

      <table class="ep-show-table table-border-custom bg-white rounded">
        <tbody>
          <% ep.char.forEach(function(char, i){ %>
            <tr class="table-border-custom">
              <td class="dialogue-char-badge" style="color:<%=ep.fontColor[i]%>;
                background-color:<%=ep.highlight[i]%>;">
                <%= char %>
              </td>
              <td class="d-inline-block">
                <!-- Dialogue -->
                <p class="dialogue-text"><%= ep.text[i] %></p>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      </div>

  </div>

    <!-- invisible bgColor div to pass data form back to front -->
    <div class="d-none">
      <% let currentColor = ep.bgColor ? ep.bgColor : "#fff"; %>
      <input id="ep-bg-color" type="text" name="" value="<%= currentColor %>">
    </div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Script for dynamic bg color -->
<script type="text/javascript">
  const bgColor = $("#ep-bg-color").val();
  $(".master-container").css("background-color", bgColor);
</script>

<%- include ../partials/footer %>
