<%- include ../partials/header %>

  <!-- EPISODE TITLE -->
  <div class="text-center bg-white shadow my-4 mx-4 py-3 rounded ep-show-header">
    <h2 class="display-4"><%= ep.title %></h2>
  </div>

<!-- EPISODE DIALOGUE -->
  <div id="dialogue-container" class="shadow-lg">

      <table class="ep-show-table table-ep-show bg-white">
        <tbody>
          <% ep.char.forEach(function(char, i){ %>
            <tr class="table-ep-show-border">
              <td>
                <p class="dialogue-char-badge" style="color:<%=ep.fontColor[i]%>;
                  background-color:<%=ep.highlight[i]%>;">
                  <%= char %>
                </p>
              </td>
              <td class="d-inline-block">
                <!-- Dialogue -->
                <p class="dialogue-text"><%= ep.text[i] %></p>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>



    <!-- invisible bgColor div to pass data form back to front -->
    <div class="d-none">
      <% let currentColor = ep.bgColor ? ep.bgColor : "#fff"; %>
      <input id="ep-bg-color" type="text" name="" value="<%= currentColor %>">
    </div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Footer -->
<%- include ../partials/footer %>

<!-- Script for dynamic bg color -->
<script type="text/javascript">
  const bgColor = $("#ep-bg-color").val();
  $(".master-container").css("background-color", bgColor);
  $(".bottom-spacer").css("background-color", bgColor);
  if($(window).width() < 1080) {
    $("body").css("background-color", bgColor);
  };
</script>
