<%- include ../partials/header %>

  <!-- EPISODE TITLE -->
  <div class="text-center bg-white shadow mt-4 mx-4 py-3 rounded ep-show-header">
    <h2 class="display-4"><%= ep.title %></h2>
  </div>

<!-- EPISODE DIALOGUE -->
  <div id="dialogue-container" class="shadow mx-5">
    <% ep.char.forEach(function(char, i){ %>

      <div class="border-bottom bg-white pt-1 pb-2">
        <!-- Row for Name and Text -->
        <div class="row bg-white">
          <!-- Column for Name -->
          <div class="col-3 text-center">
            <p class="dialogue-name char-name show-page"
              style="color:<%=ep.fontColor[i]%>;
              background-color:<%=ep.highlight[i]%>;">
              <%= char %></p>
          </div>
          <!-- Column for Dialogue Text -->
          <div class="col-9">
            <p class="m-0 border-0 dialogue-text"><%= ep.text[i] %></p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

    <!-- invisible bgColor div to pass data form back to front -->
    <div class="d-none">
      <% let currentColor = ep.bgColor ? ep.bgColor : "#fff"; %>
      <input id="ep-bg-color" type="text" name="" value="<%= currentColor %>">
    </div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Script for dynamic bg color -->
<script type="text/javascript">
  const bgColor = $("#ep-bg-color").val();
  $("body").css("background-color", bgColor);
</script>

<%- include ../partials/footer %>
