<%- include ../partials/header %>

  <div class="text-center bg-white shadow mx-4 py-3 rounded">
    <h2 class="display-4"><%= ep.title %></h2>
  </div>

    <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>

      <a class="btn btn-lg btn-secondary py-3 mt-3 w-100 rounded-0 shadow" href="/fics/<%= fic._id %>/eps/<%= ep_num %>/edit">
        <i class="fas fa-edit mr-1"></i> Edit Episode
      </a>

    <% } %>

  <div id="dialogue-container" class="shadow mx-5">
    <% ep.char.forEach(function(char, i){ %>

      <div class="border-bottom bg-white pt-1 pb-2">
        <!-- Row for Name and Text -->
        <div class="row bg-white">
          <!-- Column for Name -->
          <div class="col-3 text-center">
            <p class="dialogue-name char-name show-page"
              style="color:<%=ep.fontColor[i]%>;
              background-color:<%=ep.highlight[i]%>;">
              <%= char %></p>
          </div>
          <!-- Column for Dialogue Text -->
          <div class="col-9">
            <p class="m-0 border-0 dialogue-text"><%= ep.text[i] %></p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>

    <div class="text-center w-100">
      <!-- Delete Button trigger modal -->
      <% include ../partials/deleteModalTop %>
        <form class="" action="/fics/<%=fic._id%>/eps/<%=ep_num%>?_method=DELETE" method="post">
      <% include ../partials/deleteModalBottom %>
    </div>

  <% } %>

    <!-- Navigation buttons -->
    <div class="bg-dark d-flex flex-row text-center mt-4 shadow">
      <div class="w-100">
        <% if (ep_num > 1) { %>
          <% let prevEp = ep_num - 1; %>
          <a class="btn btn-dark py-3 w-100 rounded-0" href="/fics/<%= fic._id %>/eps/<%= prevEp %>">
            <i class="fas fa-arrow-left mr-2"></i>Previous Episode
          </a>
        <% } %>
      </div>
      <div class="w-100">
        <a class="btn btn-secondary py-3 w-100 rounded-0" href="/fics/<%= fic._id %>/">Back to Fic Page</a>
      </div>
      <div class="w-100">
        <% if (ep_num < last_ep_num) { %>
          <% let nextEp = ep_num + 1; %>
          <a class="btn btn-dark py-3 w-100 rounded-0" href="/fics/<%= fic._id %>/eps/<%= nextEp %>">
            Next Chapter<i class="fas fa-arrow-right ml-2"></i>
          </a>
        <% } %>
      </div>

    </div>


    <!-- invisible bgColor div to pass data form back to front -->
    <div class="d-none">
      <% let currentColor = ep.bgColor ? ep.bgColor : "#fff"; %>
      <input id="ep-bg-color" type="text" name="" value="<%= currentColor %>">
    </div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Script for dynamic bg color -->
<script type="text/javascript">
  const bgColor = $("#ep-bg-color").val();
  $("body").css("background-color", bgColor);
</script>

<%- include ../partials/footer %>
