<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- local stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>QuickFics</title>
  </head>
  <body>

<!-- BOTTOM NAVBAR -->

<!-- NOT LOGGED IN USER NAVBAR -->
<div class="fixed-top">

  <!-- Main NavBar -->
  <div class="top-nav bg-dark d-flex flex-row text-light p-2">
    <% if (unique_header && ["epForm", "backToFic"].includes(unique_header)) { %>
      <!-- Unique header for Episode Forms -->
      <div class="mr-auto">
        <% let currentFicId = fic_id ? fic_id : fic._id %>
        <a class="text-white text-decoration-none" href="/fics/<%=currentFicId%>">
          <h3>Back to Fic</h3>
        </a>
      </div>
      <div class="nav-brand">
        <a class="text-white text-decoration-none" href="/fics">
          <h1 class="mr-2"><i class="fas fa-book mx-2" SameSite=None></i>QuickFics</h1>
        </a>
      </div>
    <% } else { %>
      <!-- Default Header for most pages -->
      <div class="nav-brand mr-auto">
        <a class="text-white text-decoration-none" href="/fics">
          <h1><i class="fas fa-book mx-2" SameSite=None></i>QuickFics</h1>
        </a>
      </div>
      <div class="">
        <i class="fas fa-search fa-2x mt-2"></i>
      </div>
      <div class="">
        <a class="nav-link text-light" href="">About</a>
      </div>
    <% } %>
  </div>

  <!-- Character Selection for Episode New and Edit Forms -->
  <% if (unique_header && unique_header === "epForm") { %>
    <% if (chars.length === 0) { %>
      <div class="make-char-prompt">
        <p>
          No characters have been created for this Fic.
        </p>
        <p>
          To create an episode, please create a character first.
        </p>
        <a class="btn btn-lg btn-success mt-4" href="/fics/<%= fic_id %>/chars/new">
          Create Characters
        </a>
      </div>
    <% } else { %>
      <div class="char-select d-flex flex-wrap mb-4 py-2 px-3 bg-white border shadow-lg">
        <% chars.forEach(function(char){ %>
            <p class="char-btn"
            style="color:<%=char.fontColor%>;
            background-color:<%=char.highlight%>;">
              <%= char.name %>
            </p>
        <% }) %>
      </div>
    <% } %>
  <% } %>

</div> <!-- Closing div tag for fixed top -->


<!-- SPACERS FOR FIXED TOPS -->
<% if (unique_header && unique_header === "epForm") { %>
  <div class="top-spacer-ep-form"></div>
<% } else { %>
  <div class="top-spacer"></div>
<% } %>

<!-- FLASH MESSAGES -->
<div class="container">
  <% if (success && success.length) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } else if (error && error.length) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
</div>
