<%- include ./partials/header %>
    <h1 class="display-4 text-center mt-5 mb-4">
      <%= user.name ? user.name : user.username %>'s Fics
    </h1>

    <p class="text-center mb-4">
      Joined on: <%= user.createdAt.toString().slice(0, 15) %>
    </p>

    <div class="fic-card-container">
      <% user.fics.reverse().forEach(function(fic){ %>
        <a class="text-dark text-decoration-none" href="/fics/<%= fic._id %>">
          <div class="bg-white fic-card">
            <h2><%=fic.title%></h2>
            <p class="author-name-grey"><%=user.name ? user.name : user.username %></p>
            <p><%=fic.description%></p>
          </div>
        </a>
      <% }); %>
    </div>

    <% if (currentUser && currentUser._id.equals(user._id)) { %>
      <div class="text-center">
        <a class="btn btn-outline-secondary btn-sm mt-5 py-0" href="/logout">Sign Out</a>
      </div>
    <% } %>


<%- include ./partials/footer %>
