<%- include ./partials/header %>
    <h1 class="display-3 text-center my-5">
      <%= user.name ? user.name : user.username %>'s Fics
    </h1>

    <p class="text-center mb-4">
      Joined on: <%= user.createdAt.toString().slice(0, 15) %>
    </p>

    <% user.fics.reverse().forEach(function(fic){ %>
      <div class="text-center">
        <a class="btn btn-light btn-lg py-3 px-5 mx-2 mb-4 shadow"
          href="/fics/<%= fic._id %>">
            <%= fic.title %>
        </a>
      </div>
    <% }); %>

    <% if (currentUser && currentUser._id.equals(user._id)) { %>
      <div class="text-center">
        <a class="btn btn-outline-secondary btn-sm mt-5 py-0" href="/logout">Sign Out</a>
      </div>
    <% } %>


<%- include ./partials/footer %>
