<%- include ./partials/header %>
    <h1 class="text-center my-5">
      <%= currentUser.name ? currentUser.name :currentUser.username %>'s Saved Fics
    </h1>


<% if (savedFics.length === 0) { %>
  <div class="container text-center">
    <p>No fics have been saved yet.</p>
    <p>You can save fics by clicking the "Save Fic" button on a fic's profile page.</p>
  </div>
<% } else { %>
  <div class="fic-card-container">
    <% savedFics.reverse().forEach(function(fic){ %>
      <a class="text-dark text-decoration-none" href="/fics/<%= fic._id %>">
        <!-- Fic Card -->
        <div class="bg-white fic-card pb-1">
          <h2><%=fic.title%></h2>
          <p class="author-name-grey"><%=fic.author.name ? fic.author.name : fic.author.username%></p>
          <p class="mb-0"><%=fic.description%></p>
        </div> <!-- Closing tag for fic card -->
      </a>
      <!-- Delete Button trigger modal -->
      <div class="unsave-btn-container">
        <!-- Delete Button-->
        <button class="unsave-btn btn btn-outline-secondary border-0 p-1" type="button" data-toggle="modal" data-target="#remove<%=fic._id%>">
          <i class="fas fa-trash fa-lg"
            SameSite=None Secure></i>
        </button>

        <!-- Delete Modal -->
        <div class="modal fade" id="remove<%=fic._id%>" tabindex="-1" role="dialog" aria-labelledby="remove<%=fic._id%>Label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="remove<%=fic._id%>Label">Remove saved fic?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body d-flex flex-row justify-content-around">
                <form class="" action="/savedFics/<%= fic._id %>?_method=DELETE" method="post">

                    <button class="btn btn-danger" type="submit" name="button">
                      Yes, remove it</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
              </div>
            </div>
          </div>
        </div> <!-- Closing tag for delete modal -->
      </div> <!-- Closing tag for Delete Btn Trigger-->
    <% }); %>
  </div>
<% } %>




<%- include ./partials/footer %>
