<%- include ../partials/header %>
    <h1>Home Page / Fics Index</h1>

    <a class="btn btn-lg btn-dark my-3" href="/fics/new">Submit New Fic</a>

    <% fics.reverse().forEach(function(fic){ %>
      <a href="/fics/<%= fic._id %>">
        <h2><%=fic.title%></h2>
      </a>
      <p><%=fic.description%></p>
    <% }); %>



<%- include ../partials/footer %>
