<%- include ../partials/header %>

    <div class="text-center my-4">
      <% if (!currentUser) { %>
        <a class="btn btn-xl btn-success my-3" href="/register">Register to Submit Fics!</a>
      <% } else { %>
        <a class="btn btn-xl btn-primary my-3" href="/fics/new">Submit New Fic</a>
      <% } %>
      <!-- <h1 class="my-3 display-3">Newest Fics</h1> -->
    </div>

    <!-- TAB BUTTONS -->
    <ul class="nav nav-pills mb-3 bg-white nav-justified shadow" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active rounded-0"
          id="pills-updated-tab"
          data-toggle="pill"
          href="#pills-updated"
          role="tab"
          aria-controls="pills-updated"
          aria-selected="true">
          Updated Fics
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link rounded-0"
          id="pills-stars-tab"
          data-toggle="pill"
          href="#pills-stars"
          role="tab"
          ria-controls="pills-stars"
          aria-selected="false">
          Most Stars
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link rounded-0"
          id="pills-new-tab"
          data-toggle="pill"
          href="#pills-new"
          role="tab"
          aria-controls="pills-new"
          aria-selected="false">
          Newest Fics
        </a>
      </li>
    </ul>

    <!-- TAB CONTENTS -->
    <div class="tab-content" id="pills-tabContent">
      <!-- UPDATED FICS TAB CONTENT -->
      <div
        class="tab-pane fade show active"
        id="pills-updated"
        role="tabpanel"
        aria-labelledby="pills-updated-tab">
        <div class="fic-card-container">
          <% fics.sort((a,b) => b.updatedAt.getTime()-a.updatedAt.getTime()).slice(0, 19).forEach(function(fic){ %>
            <a class="text-dark text-decoration-none" href="/fics/<%= fic._id %>">
              <div class="bg-white fic-card">
                <h2><%=fic.title%></h2>
                <p>By <%=fic.author.name ? fic.author.name : fic.author.username %></p>
                <p>Last Updated:
                  <%=fic.updatedAt.toString().slice(0, 15)%>
                  <%=fic.updatedAt.toLocaleTimeString()%>
                </p>
                <p><%=fic.description%></p>
              </div>
            </a>
          <% }); %>
        </div>
      </div>
      <!-- MOST STARS TAB CONTENT -->
      <div
        class="tab-pane fade"
        id="pills-stars"
        role="tabpanel"
        aria-labelledby="pills-stars-tab">
        <div class="fic-card-container">
          <% fics.sort((a, b) => { %>
            <% b = (b.totalLikes/b.eps.length); %>
            <% a = (a.totalLikes/a.eps.length); %>
            <% return b-a; %>
          <% }).slice(0, 19).forEach(function(fic){  %>
            <a class="text-dark text-decoration-none" href="/fics/<%= fic._id %>">
              <div class="bg-white fic-card">
                <h2><%=fic.title%></h2>
                <p>By <%=fic.author.name ? fic.author.name : fic.author.username %></p>
                <p>Average <%=(fic.totalLikes/fic.eps.length).toFixed(2)%> Stars per Episode</p>
                <p><%=fic.description%></p>
              </div>
            </a>
          <% }); %>
        </div>
      </div>
      <!-- NEW FICS TAB CONTENT -->
      <div
        class="tab-pane fade"
        id="pills-new"
        role="tabpanel"
        aria-labelledby="pills-new-tab">
        <div class="fic-card-container">
          <% fics.reverse().slice(0, 29).forEach(function(fic){ %>
            <a class="text-dark text-decoration-none" href="/fics/<%= fic._id %>">
              <div class="bg-white fic-card">
                <h2><%=fic.title%></h2>
                <p>By <%=fic.author.name ? fic.author.name : fic.author.username %></p>
                <p>Create On:
                  <%=fic.createdAt.toString().slice(0, 15)%>
                  <%=fic.createdAt.toLocaleTimeString()%>
                </p>
                <p><%=fic.description%></p>
              </div>
            </a>
          <% }); %>
        </div>
      </div> <!-- NEW FICS TAB CONTENT END TAG-->
    </div>

<%- include ../partials/footer %>
