<%- include ../partials/header %>
    <h1>Index Page woo hoooo</h1>

    <% fics.forEach(function(fic){ %>
      <a href="/fics/<%= fic._id %>">
        <h2><%=fic.title%></h2>
      </a>
      <p><%=fic.description%></p>
    <% }); %>

<a class="btn btn-lg btn-secondary" href="/fics/new">New Fic</a>

<%- include ../partials/footer %>
