<%- include ../partials/header %>

    <div class="text-center my-4">
      <% if (!currentUser) { %>
        <a class="btn btn-xl btn-success my-3" href="/register">Register to Submit Fics!</a>
      <% } else { %>
        <a class="btn btn-xl btn-primary my-3" href="/fics/new">Submit New Fic</a>
      <% } %>
    </div>

    <div class="fic-card-container">
      <% fics.reverse().forEach(function(fic){ %>
        <a class="text-dark text-decoration-none" href="/fics/<%= fic._id %>">
          <div class="bg-white fic-card">
            <h2><%=fic.title%></h2>
            <p><%=fic.author.name ? fic.author.name : fic.author.username %></p>
            <p><%=fic.description%></p>
          </div>
        </a>

      <% }); %>
    </div>

<%- include ../partials/footer %>
