<%- include ../partials/header %>
    <h1>Show Page woo hoooo</h1>

    <h1><%= fic.title %></h1>

    <p><%= fic.description %></p>

    <a class="btn btn-lg btn-secondary" href="/fics/<%= fic._id %>/chars">See Characters</a>

    <a class="btn btn-lg btn-secondary" href="/fics/<%= fic._id %>/chars/new">Add Characters</a>

    <a class="btn btn-lg btn-secondary" href="/fics/<%= fic._id %>/edit">Edit this fic</a>

    <a class="btn btn-lg btn-secondary" href="/fics">Back to fics</a>

<%- include ../partials/footer %>
