<%- include ../partials/header %>

<!-- Author control panel -->
<% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
  <% let currPage = "ficPage" %>
  <% include ../partials/authorControlPanel %>
<% } %>

  <!-- Fic Heading -->
  <div class="fic-header text-center bg-white shadow-sm pt-2 pb-4">
    <h1 class="display-3 mt-4 mb-3">
      <%= fic.title %>
    </h1>

    <!-- User Control Panel -->
    <div class="user-control-panel mb-3">
        <% if (currentUser && currentUser.savedFics.includes(fic._id)) { %>
          <form class="d-inline" action="/savedfics/<%= fic._id %>?_method=DELETE" method="post">
            <button class="user-control-btn saved-fic-btn" type="submit">
              <i class="fas fa-bookmark mr-2"
                SameSite=None Secure></i>Fic Saved!
            </button>
          </form>
        <% } else { %>
          <form class="d-inline" action="/savedFics" method="post">
            <input class="d-none" type="text" name="fic_id" value="<%= fic._id %>">
            <button class="user-control-btn" type="submit">
              <i class="fas fa-bookmark mr-2"
                SameSite=None Secure></i>Save Fic
            </button>
          </form>
        <% } %>
      <!-- Copy to Clipboard button -->
      <%- include ../partials/copyToClipBoard %>
    </div> <!-- Closing tag for user control panel -->

    <!-- Fic Data -->
    <div class="fic-data">
      <p>Author:
        <a class="text-decoration-none h6" href="/user/<%= fic.author._id %>">
          <%=fic.author.name ? fic.author.name : fic.author.username %></a>
      </p>
      <p>Created:
        <em><%=fic.createdAt.toString().slice(4, 15) %></em>
      </p>
      <p>Last Updated:
        <em><%=fic.updatedAt.toString().slice(4, 15) %></em>
      </p>
      <p>
        Total Stars: <%=fic.totalLikes%>
      </p>
    </div>

    <!-- Fic Description -->
    <p class="my-4"><%= fic.description %></p>

    <!-- Characters Table -->
    <button
      class="btn btn-outline-secondary py-0 shadow-sm"
      type="button" data-toggle="collapse"
      data-target="#characterList"
      aria-expanded="false" aria-controls="characterList">
      <i class="fas fa-users mr-1" SameSite=None Secure></i>Character List
    </button>

    <div class="collapse" id="characterList">
      <% if (fic.chars.length > 0) { %>
        <table class="table mt-4">
          <thead>
            <th>Name</th>
            <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
              <th>Edit</th>
            <% } %>
            <th>Description</th>
            <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
              <th>Delete</th>
            <% } %>
          </thead>
          <tbody>
            <% fic.chars.forEach(function(char, i){ %>
              <tr>
                <td><%=char.name%></td>
                <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
                  <td>
                    <a class="btn btn-outline-warning btn-sm border-0"
                      href="/fics/<%=fic._id%>/chars/<%=i%>/edit">
                      <i class="fas fa-edit fa-lg pl-1"
                        SameSite=None Secure></i></a>
                  </td>
                <% } %>
                <td><%=char.description%></td>
                <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
                  <td>
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="btn btn-outline-secondary btn-sm border-0"
                      data-toggle="modal"
                      data-target="#deleteChar<%=i%>">
                      <i class="fas fa-trash fa-lg"
                        SameSite=None Secure></i>
                    </button>
                    <!-- DELETE MODAL -->
                    <div class="modal fade" id="deleteChar<%=i%>" tabindex="-1" role="dialog" aria-labelledby="deleteChar<%=i%>Label" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteChar<%=i%>Label">Delete character?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            The episodes created with this character will stay as is.
                          </div>
                          <div class="modal-body d-flex flex-row justify-content-around">
                            <form class="" action="/fics/<%= fic._id %>/chars/<%=i%>?_method=DELETE" method="post">
                                <button class="btn btn-danger" type="submit" name="button">
                                  Yes, delete</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
                          </div>
                        </div>
                      </div>
                    </div> <!-- END TAG DELETE MODAL -->
                  </td>
                <% } %>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p class="mt-4">No characters have been created yet.</p>
      <% } %>
    </div>
    <!-- Char name, description, edit options -->
    <!-- Get rid of char index page and author's control panel button -->
  </div> <!-- Closing tag for fic heading -->

  <!-- Start Reading Button -->
  <div class="text-center mt-4">
    <% if (fic.eps.length > 0) { %>
      <a class="btn btn-primary btn-xl shadow-lg" href="/fics/<%= fic._id %>/eps/1">
        Start Reading
      </a>
    <% } else { %>
      <p>There are currently no episodes for this Fic.</p>
    <% } %>
  </div>


  <!-- IF AT LEAST ONE EPISODE SHOW EPISODE LIST -->
  <% if (fic.eps.length > 0) { %>
    <!-- EPISODE LIST TABLE -->
    <div class="text-center bg-light border rounded m-3 shadow-sm overflow-hidden">
      <h2 class="my-4">Episode List</h2>

        <table class="table"> <!-- ACTUAL TABLE STARTS HERE -->
          <thead>
            <th>Ep. No.</th>
            <th>Title</th>
            <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
              <th>Edit</th>
            <% } %>
            <th>Stars</th>
            <th>Created</th>
            <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
              <th>Delete</th>
            <% } %>
          </thead>
          <tbody>
          <% fic.eps.forEach(function(ep, i){ %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td>
                    <a class="text-primary text-decoration-none" href="/fics/<%= fic._id %>/eps/<%= i + 1 %>">
                      <em><strong><%= ep.title %></strong></em>
                    </a>
                  </td>
                  <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
                    <td>
                      <a class="btn btn-outline-primary btn-sm border-0" href="/fics/<%=fic._id%>/eps/<%= i + 1 %>/edit">
                        <i class="fas fa-edit fa-lg pl-1"
                          SameSite=None Secure></i></a>
                    </td>
                  <% } %>
                  <td><%=ep.likes.length%></td>
                  <td><%=ep.dateCreated.toLocaleDateString()%></td>
                  <% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
                    <td>
                      <!-- Button trigger modal -->
                      <button
                        type="button"
                        class="btn btn-outline-secondary btn-sm border-0"
                        data-toggle="modal"
                        data-target="#deleteEp<%=i + 1%>">
                        <i class="fas fa-trash fa-lg"
                          SameSite=None Secure></i>
                      </button>
                      <!-- DELETE MODAL -->
                      <div class="modal fade" id="deleteEp<%=i + 1%>" tabindex="-1" role="dialog" aria-labelledby="deleteEp<%=i + 1%>Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteEp<%=i + 1%>Label">Permanantly delete this?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              This episode's star count will be subtracted from this fic's total stars.
                            </div>
                            <div class="modal-body d-flex flex-row justify-content-around">
                              <form class="" action="/fics/<%= fic._id %>/eps/<%= i + 1 %>?_method=DELETE" method="post">

                                  <button class="btn btn-danger" type="submit" name="button">
                                    Yes, delete it</button>
                              </form>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
                            </div>
                          </div>
                        </div>
                      </div> <!-- END TAG DELETE MODAL -->
                    </td>  <!-- END OF DELETE COLUMN -->
                  <% } %>
                </tr> <!-- END OF TABLE ROW -->
            <% }) %>
          </tbody>
        </table>
      </div> <!-- EPISODE LIST TABLE ENDS HERE -->
    <% } %>






<%- include ../partials/footer %>
