<%- include ../partials/header %>
    <h1>Show Page woo hoooo</h1>

    <h1><%= fic.title %></h1>

    <p><%= fic.description %></p>

    <a href="/fics/<%= fic._id %>/edit">Edit this fic</a>

<%- include ../partials/footer %>
