<%- include ../partials/header %>

<!-- Author control panel -->
<% if (currentUser && currentUser._id.equals(fic.author._id)) { %>
  <% let currPage = "ficPage" %>
  <% include ../partials/authorControlPanel %>
<% } %>

  <!-- Fic Heading -->
  <div class="fic-header text-center bg-white shadow-sm pt-2 pb-4">
    <h1 class="display-3 my-4">
      <%= fic.title %>
    </h1>
    <p>
      Author:
      <em>
        <a class="text-decoration-none" href="/user/<%= fic.author._id %>">
          <%=fic.author.name ? fic.author.name : fic.author.username %>
        </a>
      </em>
    </p>
    <p class="my-4">
      <%= fic.description %>
    </p>

    <!-- Show character page button if not author -->
    <% if (!(currentUser && currentUser._id.equals(fic.author._id))) { %>
      <div class="">
        <a class="btn btn-outline-secondary py-0" href="/fics/<%= fic._id %>/chars">
          View Characters
        </a>
      </div>

    <% } %>
  </div>

  <!-- Start Reading Button -->
  <div class="text-center mt-4">
    <% if (fic.eps.length > 0) { %>
      <a class="btn btn-primary btn-xl shadow-lg" href="/fics/<%= fic._id %>/eps/1">
        Start Reading
      </a>
    <% } else { %>
      <p>There are currently no episodes for this Fic.</p>
    <% } %>
  </div>


  <div class="text-center bg-light border rounded m-3 shadow-sm overflow-hidden">
    <h2 class="my-4">Episode List</h2>

    <% fic.eps.forEach(function(ep, i){ %>
        <a class="episode-link nav-link bg-light" href="/fics/<%= fic._id %>/eps/<%= i + 1 %>">
          <p class="text-dark">Episode <%= i + 1 %>: <%= ep.title %></p>
        </a>
    <% }) %>
  </div>


<%- include ../partials/footer %>
