<%- include ../partials/header %>

  <div class="fic-header text-center">
    <h1 class="display-3 my-4">
      <%= fic.title %>
    </h1>
    <p>
      <%= fic.description %>
    </p>

    <div class="">
      <a class="btn btn-lg btn-success py-3 w-100 rounded-0" href="/fics/<%= fic._id %>/eps/new">
        <i class="fas fa-plus mr-1"></i> Add New Episode</a>
      <a class="btn btn-lg btn-secondary py-3 w-100 rounded-0" href="/fics/<%= fic._id %>/chars">
        <i class="fas fa-th-large mr-1"></i> Characters
      </a>
      <a class="btn btn-lg btn-secondary py-3 w-100 rounded-0" href="/fics/<%= fic._id %>/edit">
        <i class="fas fa-edit mr-1"></i> Edit Fic Details
      </a>
    </div>



  </div>

  <div class="text-center bg-white border rounded m-3">
    <h2 class="my-4">Episodes</h2>

    <% fic.eps.forEach(function(ep, i){ %>
      <p>Episode <%= i + 1 %>:
        <a href="/fics/<%= fic._id %>/eps/<%= i + 1 %>">
          <%= ep.title %>
        </a>
      </p>
    <% }) %>


  </div>


<%- include ../partials/footer %>
